#title{
    font-family: 'Luckiest Guy', cursive;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    color:rgba(10, 23, 85, 0.986);
    margin-bottom: 20 px;
  }
  